@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
.navbar {
    background: #b30059;
    padding: 1rem 8rem;
    z-index: 1000;
}

.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Monoton', cursive;
    color: white;
}

.navbar .navbar-brand:hover {
    color: #ffccd5;
}

ul li {
    margin: 0px 10px;
}

#navbarSupportedContent > ul > li > a {
    color: #fff;
    font-size: 1.1rem;
    padding: 0 0.8rem;
    cursor: pointer;
}

#navbarSupportedContent > ul > li > a:hover {
    color: #ff66b2;
}

.signin {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.signin:hover {
    color: #ff66b2;
}

.grow {
    transition: all 0.3s;
}

.grow:hover {
    transform: scale(1.2);
}

#navbarSupportedContent > button:hover {
    background: #ff66b2;
}

/* FORM SECTION */
#form-container {
    max-width: 900px;
    width: 100%;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(179, 0, 89, 0.2);
}

.input-group-text {
    background-color: #b30059 !important; /* Rose foncé */
    color: white !important;
    font-weight: 600;
    letter-spacing: 1px;
    border: none !important;
}


label a {
    color: #b30059;
}

label a:hover {
    text-decoration: none;
    color: #ff66b2;
}

h1,
h3 {
    color: #b30059;
    font-weight: 700;
}

/* IMAGE SECTION */
.image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

/* LAYOUT */
#main-container {
    max-width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 2rem;
}

/* FOOTER */
footer small {
    word-spacing: 1px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 10em;
    cursor: pointer;
}

small span:hover {
    color: white;
}

.brand a {
    font-family: 'Monoton', cursive;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    cursor: pointer;
}

.brand a:hover {
    color: white;
}

#sticky-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b30059;
    padding: 1rem;
    color: white;
}

button[type="submit"] {
    background-color: #b30059 !important;
    color: white !important;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: white !important;
    color: #b30059 !important;
    border: 2px solid #b30059;
}
